0778606_APM_assignment_1.zip
0778606_APM_assignment_1/
1 - On the Role of Fitness, Precision, Generalization and Simplicity in Process Discovery.pdf
2.b - Discovering Social Networks from Event Logs.pdf
2.c - Mining Social Networks- Uncovering Interaction Patterns in Business Processes.pdf
2.d - Discovering Social Networks from Event Logs.pdf
3.a - Learning Decision Trees.pdf
3.b - Applying Decision Trees.pdf
APM_Assignment_1.xes
APM_Assignment_1.xes.gz
Report_0778606.docx
Report_0778606.pdf
assignment1.1.rmp
assignment1.2.rmp
assignment1.3.rmp
assignment1.4.rmp
extra/
lorenzo_assignment_1.docx